html, body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: rgb(202, 202, 202);
}
.main {
    display: flex;
    flex-flow: column;
    width: 80%;
}
.menu {
    width: 20%;
    background-color: rgb(0, 190, 190);
    padding: 10px 10px;
}
.header {
    background-color: white;
    min-height: 150px;
    display: flex;
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}
.footer {
    background-color: rgb(156, 156, 156);
    min-height: 150px;
    padding: 20px;
}